
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(pic/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}

.logo{
    width: 120px;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.login-btn{
    background: #fff;
    color: #2575fc;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
}

.content{
    margin-top: 10%;
    margin-left: 8%;
    max-width: 600px;
}

.content h1{
    font-size: 60px;
}

.content h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.content p{
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    color: #2575fc;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.Features-img{
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 8%;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.8s linear forwards;
}

.Features-img{
    animation-delay: 1s;
}

.content h1{
    animation-delay: 0.5s;
}

.content h2{
    animation-delay: 0.7s;
}

.content p{
    animation-delay: 0.9s;
}

.btn{
    animation-delay: 1.1s;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
